# Lots of junk goes in here.
/caches/
/backups/

# ignore compiled python libs
*.pyc

# vim's plugin management
link/.vim/plugged

# some vim booger
link/.vim/.netrwhist

/bin/cap-360
/bin/g
/bin/git-authors
/bin/pup
/bin/reap
/bin/s3png
/bin/table2json
/bin/url
/bin/coredt
/bin/acb
