[user]
  name = Alex
  email = EMAIL
[core]
  autocrlf = input
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
  excludesfile = ~/.gitignore_global
[apply]
  whitespace = fix
[alias]
  # "pretty log"
  plog = log --pretty=format:'%C(yellow)%h %Cred%ai%Creset %s%Cgreen%d%Creset --%C(cyan)%an %Creset'
  plog2 = log --pretty=format:'%C(yellow)%h %Cred%ai%Creset %s%Cgreen%d%Creset --%C(cyan)%an %Creset%n%-b%-n'

  # "clean log"
  clog = log --pretty=format:'%h %ai %s --%an'

  # "fancy log"
  flog = log --color --graph --pretty=format:'%h %ai%Cgreen%d%Creset %s --%an'
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[merge]
  log = true
[rerere]
  enabled = 1

# from my original .gitconfig
[credential]
  helper = osxkeychain
  useHttpPath = true
[help]
  autocorrect = 1
[rebase]
  autosquash = true
[push]
  default = simple
[diff "nodiff"]
	command = /usr/bin/true

